<template>
    <div class="reg__input-right">
        <input @input="$emit('update:modelValue', $event.target.value)"
               class="reg__input"
               :type="type"
               :placeholder="placeholder"
        >
        <p v-if="error" class="reg__input-error">{{ error }}</p>
    </div>
</template>

<script setup>

    const props = defineProps({
        error: {
            type:String,
            default:false,
        },
        type: {
            type:String,
            default:'text',
        },
        placeholder: String,
        modelValue: {String,Number},
    })
</script>

