<template>
    <div class="reg__input-left">
        <svg class="error" width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="6.5" cy="6.5" r="5.5" stroke="#FF5C00" stroke-width="2"></circle>
        </svg>
        <svg class="success" width="13" height="9" viewbox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 4L5 8L12 1" stroke="#35D863" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </div>
</template>

<script>
export default {
    name: "RegInputLeft"
}
</script>

<style scoped>

</style>
