<template>
    <div class="reg__left">
        <div v-for="(item, key) in steps" :key="key" class="reg__left-box" :class="{active:currentStep >= +key}">
            <p class="reg__left-box--num">{{ key }}</p>
            <div class="reg__left-line">
                <p class="reg__left-box--text">{{ item }}</p>
                <svg width="13" height="9" viewbox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 4L5 8L12 1" stroke="#35D863" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
        </div>
    </div>
</template>

<script setup>
import {inject, ref} from "vue";

const currentStep = inject('currentStep')

const steps = ref({
    1:'Данные',
    2:'Подтверждение',
    3:'Завершение',
})
</script>

