<script setup>
// import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
// import DeleteUserForm from './Partials/DeleteUserForm.vue';
// import UpdatePasswordForm from './Partials/UpdatePasswordForm.vue';
// import UpdateProfileInformationForm from './Partials/UpdateProfileInformationForm.vue';
import { Head } from '@inertiajs/vue3';
import GuestLayout from "@/Layouts/GuestLayout.vue";
import BackMobile from "@/Components/Items/Auth/BackMobile.vue";
import LeftSidebar from "@/Components/Items/Profile/LeftSidebar.vue";


defineProps({
    mustVerifyEmail: {
        type: Boolean,
    },
    status: {
        type: String,
    },
});


</script>
<template>
    <GuestLayout>
        <Head title="Вход" />
        <BackMobile/>
        <section class="profile">
            <div class="container">
                <div class="profile__inner">
                    <LeftSidebar/>
                    <div class="profile__center">
                        <div class="profile__center-top">
                            <p class="profile__title">Профиль</p>
                            <div class="profile__top-right">
                                <a class="profile__top-right--link" href="">
                                <span class="profile__top-right--span">Выход</span>
                                <svg width="21" height="22" viewbox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.79995 0.599609C0.916287 0.599609 0.199951 1.31596 0.199951 2.19961V19.7996C0.199951 20.6833 0.916303 21.3996 1.79995 21.3996H13.8C14.2417 21.3996 14.6 21.0414 14.6 20.5996C14.6 20.1578 14.2417 19.7996 13.8 19.7996H1.79995V2.19961H13.8C14.2417 2.19961 14.6 1.84143 14.6 1.39961C14.6 0.957785 14.2417 0.599609 13.8 0.599609H1.79995ZM17.1657 6.83393C16.8532 6.5215 16.3467 6.5215 16.0342 6.83393C15.7219 7.14635 15.7219 7.65287 16.0342 7.96529L18.2686 10.1996H7.39995C6.95813 10.1996 6.59995 10.5578 6.59995 10.9996C6.59995 11.4414 6.95813 11.7996 7.39995 11.7996H18.2686L16.0342 14.0339C15.7219 14.3463 15.7219 14.8529 16.0342 15.1654C16.3467 15.4777 16.8532 15.4777 17.1657 15.1654L20.7657 11.5653C21.078 11.2529 21.078 10.7463 20.7657 10.4339L17.1657 6.83393Z" fill="#FF5C00"></path>
                                </svg></a>
                                <a class="profile__top-right--link edit active noMobile" href=""><span class="profile__top-right--span">Редактировать</span>
                                <svg width="21" height="15" viewbox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 6.71429L8.18182 13L19 2" stroke="#FF5C00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                <svg width="17" height="18" viewbox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.74984 12.3616L5.47807 15.7044L13.386 6.89112L9.65724 3.54665L1.74984 12.3616ZM8.72291 7.63814L4.28297 12.5877C4.22717 12.6492 4.14973 12.6873 4.06661 12.6919C3.98348 12.697 3.90149 12.6679 3.84 12.6116L3.61965 12.4134C3.49097 12.2979 3.48015 12.0997 3.59574 11.971L8.03568 7.02151C8.09148 6.95945 8.16891 6.92187 8.25204 6.91731C8.33517 6.91276 8.41716 6.9418 8.47865 6.99703L8.69899 7.1946C8.82767 7.31075 8.83792 7.50889 8.72291 7.63814ZM10.0142 5.28493L10.234 5.48193C10.3638 5.59752 10.3741 5.79623 10.2585 5.9249L9.87246 6.35535C9.81553 6.41741 9.73866 6.45442 9.65553 6.45954C9.57241 6.4641 9.49099 6.43563 9.42892 6.37983L9.20858 6.18226C9.14709 6.12646 9.10951 6.04903 9.10382 5.96533C9.09926 5.8822 9.1283 5.80021 9.18467 5.73872L9.5707 5.30828C9.68685 5.1796 9.88556 5.16878 10.0142 5.28493ZM10.9332 2.12493L14.6609 5.46884L13.7453 6.48972L10.0182 3.14581L10.9332 2.12493ZM16.16 2.17333L14.0471 0.27733C13.6013 -0.122936 12.9163 -0.0853581 12.5166 0.360458L11.2708 1.74972L14.9991 5.09306L16.2448 3.70493C16.4362 3.49085 16.5369 3.20901 16.5193 2.92205C16.5033 2.63452 16.3741 2.36521 16.16 2.17333ZM14.9222 3.69981L12.6624 1.67342L13.3149 0.946908L15.5741 2.97272L14.9222 3.69981ZM0.0212364 17.3106C-0.0362699 17.5099 0.025222 17.7245 0.178952 17.8617C0.332681 18.0001 0.552458 18.0382 0.743766 17.9602L5.03055 16.2043L1.30346 12.8604L0.0212364 17.3106ZM3.81039 15.9925L2.12619 16.682L1.14119 15.7983L1.64508 14.0498L3.81039 15.9925Z" fill="#FF5C00"></path>
                                </svg></a></div>
                        </div>
                        <div class="profile__center-bottom">
                            <div class="profile__center-column mr"><img class="profile__center-img" src="img/profileImage.png" alt=""><a class="button profile__changePhoto flex js-open-modal" href="" data-modal="choseAvatar">Выбрать фото</a><a class="button profile__changePass flex outline" href="">
                                <p class="button__text">Сменить пароль</p></a></div>
                            <div class="profile__center-column full">
                                <input class="profile__center-input" type="text" value="Mrroblox237">
                                <input class="profile__center-input" type="text" value="Почта@gmail.com">
                                <input class="profile__center-input" type="text" value="+7 900 000 00 00"><a class="profile__top-right--link mobile inCenter edit" href=""><span class="profile__top-right--span">Редактировать</span>
                                <svg width="21" height="15" viewbox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 6.71429L8.18182 13L19 2" stroke="#FF5C00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                <svg width="17" height="18" viewbox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.74984 12.3616L5.47807 15.7044L13.386 6.89112L9.65724 3.54665L1.74984 12.3616ZM8.72291 7.63814L4.28297 12.5877C4.22717 12.6492 4.14973 12.6873 4.06661 12.6919C3.98348 12.697 3.90149 12.6679 3.84 12.6116L3.61965 12.4134C3.49097 12.2979 3.48015 12.0997 3.59574 11.971L8.03568 7.02151C8.09148 6.95945 8.16891 6.92187 8.25204 6.91731C8.33517 6.91276 8.41716 6.9418 8.47865 6.99703L8.69899 7.1946C8.82767 7.31075 8.83792 7.50889 8.72291 7.63814ZM10.0142 5.28493L10.234 5.48193C10.3638 5.59752 10.3741 5.79623 10.2585 5.9249L9.87246 6.35535C9.81553 6.41741 9.73866 6.45442 9.65553 6.45954C9.57241 6.4641 9.49099 6.43563 9.42892 6.37983L9.20858 6.18226C9.14709 6.12646 9.10951 6.04903 9.10382 5.96533C9.09926 5.8822 9.1283 5.80021 9.18467 5.73872L9.5707 5.30828C9.68685 5.1796 9.88556 5.16878 10.0142 5.28493ZM10.9332 2.12493L14.6609 5.46884L13.7453 6.48972L10.0182 3.14581L10.9332 2.12493ZM16.16 2.17333L14.0471 0.27733C13.6013 -0.122936 12.9163 -0.0853581 12.5166 0.360458L11.2708 1.74972L14.9991 5.09306L16.2448 3.70493C16.4362 3.49085 16.5369 3.20901 16.5193 2.92205C16.5033 2.63452 16.3741 2.36521 16.16 2.17333ZM14.9222 3.69981L12.6624 1.67342L13.3149 0.946908L15.5741 2.97272L14.9222 3.69981ZM0.0212364 17.3106C-0.0362699 17.5099 0.025222 17.7245 0.178952 17.8617C0.332681 18.0001 0.552458 18.0382 0.743766 17.9602L5.03055 16.2043L1.30346 12.8604L0.0212364 17.3106ZM3.81039 15.9925L2.12619 16.682L1.14119 15.7983L1.64508 14.0498L3.81039 15.9925Z" fill="#FF5C00"></path>
                                </svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="profile__left mobile">
                        <hr class="profile__hr"><a class="profile__left-title link" href="pod.html">Поддержка</a>
                        <hr class="profile__hr">
                        <div class="profile__toggleTheme">
                            <p class="profile__left-title mr">Тема сайта</p>
                            <div class="profile__toggleTheme-toggle">
                                <div class="profile__toggleTheme-toggle--circle"></div>
                                <div class="profile__toggleTheme-toggle--background"></div>
                            </div>
                        </div>
                    </div>
                    <div class="profile__right">
                        <div class="profile__right-box">
                            <div class="profile__line down bigMB">
                                <p class="profile__miniText">Баланс: </p>
                                <p class="profile__money">31.203 <span class="profile__money-text">Руб.</span></p>
                            </div>
                            <hr class="profile__right-hr">
                            <div class="profile__box">
                                <div class="profile__line js-openClose-menu">
                                    <p class="profile__box-item">Пополнить баланс</p>
                                    <div class="profile__line-openClose orange">
                                        <div class="profile__line-line"></div>
                                        <div class="profile__line-line"></div>
                                    </div>
                                </div>
                                <div class="profile__box-content"><a class="profile__box-item" href="">123</a></div>
                            </div>
                            <hr class="profile__right-hr">
                            <div class="profile__box">
                                <div class="profile__line js-openClose-menu">
                                    <p class="profile__box-item">Вывести средства</p>
                                    <div class="profile__line-openClose orange">
                                        <div class="profile__line-line"></div>
                                        <div class="profile__line-line"></div>
                                    </div>
                                </div>
                                <div class="profile__box-content"><a class="profile__box-item" href="">123</a></div>
                            </div>
                            <hr class="profile__right-hr">
                        </div>
                        <div class="profile__right-box noMobile">
                            <div class="profile__line">
                                <div class="profile__basket">
                                    <svg class="profile__basket-icon" width="34" height="34" viewbox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.48903 21.8937C6.56941 22.6854 6.99773 23.3955 7.60724 23.8751C7.26605 24.2766 7.05953 24.7958 7.05953 25.3627V27.4877C7.05953 28.4037 7.58818 29.1927 8.36307 29.5634C8.31916 29.775 8.2959 29.9942 8.2959 30.2187C8.2959 31.9952 9.74121 33.4405 11.5177 33.4405C13.2942 33.4405 14.7395 31.9952 14.7395 30.2187C14.7395 30.0731 14.7289 29.93 14.7101 29.7894H20.0094C19.9906 29.93 19.98 30.0731 19.98 30.2187C19.98 31.9952 21.4253 33.4405 23.2018 33.4405C24.9783 33.4405 26.4236 31.9952 26.4236 30.2187C26.4236 28.4422 24.9783 26.9969 23.2018 26.9969C22.1241 26.9969 21.1691 27.5292 20.5839 28.3443H14.1356C13.5503 27.5292 12.5953 26.9969 11.5176 26.9969C10.4822 26.9969 9.56002 27.4884 8.97018 28.2497C8.69271 28.1081 8.50449 27.8208 8.50449 27.4878V25.3627C8.50449 24.8908 8.8887 24.5068 9.361 24.5068C9.3632 24.5068 9.36533 24.5066 9.36753 24.5065C9.37194 24.5066 9.37634 24.5068 9.38068 24.5068H26.2754C27.6724 24.5068 29.1192 23.4712 29.5696 22.1491L33.8627 9.54355C34.1056 8.83032 34.023 8.11118 33.6359 7.57048C33.2489 7.02978 32.5947 6.71962 31.8413 6.71962H30.3005L25.6572 2.05412C24.9353 1.33237 23.7652 1.3261 23.0349 2.03458L15.1989 4.14233L13.0955 0.370707C12.9011 0.0222145 12.4611 -0.102689 12.1125 0.0915827L7.90529 2.43799C7.73786 2.53131 7.61447 2.68738 7.56217 2.87175C7.5098 3.05611 7.53285 3.25368 7.62624 3.42105L9.46587 6.71955H7.72307C7.25834 6.71955 6.82059 6.83826 6.44099 7.06081L6.09979 3.64959C6.06284 3.28018 5.75199 2.99892 5.38079 2.99892H0.722586C0.323512 2.99892 0 3.32243 0 3.72151C0 4.12058 0.323512 4.44409 0.722586 4.44409H4.72688L6.48903 21.8937ZM23.202 28.442C24.1816 28.442 24.9786 29.239 24.9786 30.2186C24.9786 31.1983 24.1816 31.9953 23.202 31.9953C22.2223 31.9953 21.4253 31.1983 21.4253 30.2186C21.4253 29.239 22.2223 28.442 23.202 28.442ZM11.5177 28.442C12.4974 28.442 13.2944 29.239 13.2944 30.2186C13.2944 31.1983 12.4974 31.9953 11.5177 31.9953C10.5381 31.9953 9.74114 31.1983 9.74114 30.2186C9.74114 29.239 10.5381 28.442 11.5177 28.442ZM24.6345 3.07476L28.2618 6.71955H20.393L24.0364 3.07607C24.2016 2.91084 24.4703 2.91084 24.6345 3.07476ZM20.9866 4.08211L18.3492 6.71955H16.6363L15.9248 5.44374L20.9866 4.08211ZM9.24022 3.34817L12.1853 1.7057L14.9816 6.71955H11.1205L9.24022 3.34817ZM32.4949 9.07752L28.2018 21.6831C27.9516 22.4174 27.0515 23.0615 26.2756 23.0615H9.38088C8.66497 23.0615 7.99902 22.4599 7.92677 21.7478L7.67145 19.2295H23.2069C23.606 19.2295 23.9295 18.906 23.9295 18.5069C23.9295 18.1078 23.606 17.7843 23.2069 17.7843H7.52501L6.66988 9.34921C6.66988 9.349 6.66988 9.34893 6.66988 9.34879L6.66974 9.34721C6.63719 9.0259 6.73023 8.7262 6.93187 8.50309C7.12903 8.28487 7.41001 8.16472 7.72307 8.16472H29.9937C29.9961 8.16479 29.9984 8.16506 30.0008 8.16506C30.0031 8.16506 30.0055 8.16479 30.0078 8.16472H31.8416C32.1271 8.16472 32.3471 8.25239 32.461 8.41157C32.575 8.57067 32.587 8.8072 32.4949 9.07752Z" fill="#3F3F3F"></path>
                                    </svg>
                                    <p class="profile__basket-num">4</p>
                                </div>
                                <p class="profile__money">31.203 <span class="profile__money-text">Руб.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </GuestLayout>
</template>

<!--<template>-->
<!--    <Head title="Profile" />-->

<!--    <AuthenticatedLayout>-->
<!--        <template #header>-->
<!--            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Profile</h2>-->
<!--        </template>-->

<!--        <div class="py-12">-->
<!--            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">-->
<!--                <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">-->
<!--                    <UpdateProfileInformationForm-->
<!--                        :must-verify-email="mustVerifyEmail"-->
<!--                        :status="status"-->
<!--                        class="max-w-xl"-->
<!--                    />-->
<!--                </div>-->

<!--                <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">-->
<!--                    <UpdatePasswordForm class="max-w-xl" />-->
<!--                </div>-->

<!--                <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">-->
<!--                    <DeleteUserForm class="max-w-xl" />-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </AuthenticatedLayout>-->
<!--</template>-->
