<script setup>
import Header from "@/Components/Header.vue";
import Footer from "@/Components/Footer.vue";
import FooterMobile from "@/Components/FooterMobile.vue";
import {UseAppStore} from "@/Stores/AppStore";

const AppStore = UseAppStore();
</script>

<template>
    <body :class="AppStore.themeSite">
    <Header/>
        <main class="main">
            <slot/>
        </main>
        <Footer/>
        <FooterMobile/>
    </body>
</template>
