<script setup lang="tsx">
import GuestLayout from '../../Layouts/GuestLayout.vue';
import {Head, useForm} from '@inertiajs/vue3';
import BackMobile from "../../Components/Items/Auth/BackMobile.vue";
import {provide, ref} from "vue";
import StepFirst from "../../Components/Items/Auth/StepFirst.vue";
import {route} from "../../Types/Functions";
import Steps from "../../Components/Items/Auth/Steps.vue";

interface Form {
    nickname: string,
    email: string,
    password: string,
    password_confirmation: string,
}

const form = useForm({
    nickname: '',
    email: '',
    password: '',
    password_confirmation: '',
} as Form);

const submit = () => {
    form.post<string,object>(route<route>('register'), {
        preserveScroll: true,
    });
};

const currentStep = ref<number>(1)
provide('currentStep',currentStep)
provide('form',form)
provide('submit',submit)
</script>

<template>
    <GuestLayout>
        <Head>
            <title>Регистрация</title>
        </Head>
        <BackMobile/>
        <section class="reg">
            <img class="reg__background" src="/img/regBack.svg" alt="">
            <img class="reg__background dark" src="/img/regBackDark.svg" alt="">
            <div class="container">
                <div class="reg__inner">
                    <Steps />
                    <StepFirst/>
                </div>
            </div>
        </section>
    </GuestLayout>
</template>
