<script setup>
import GuestLayout from '@/Layouts/GuestLayout.vue';
import BackMobile from "@/Components/Items/Auth/BackMobile.vue";
import { Head, useForm } from '@inertiajs/vue3';
import Steps from "@/Components/Items/Auth/Steps.vue";
import {computed, provide, ref} from "vue";


const props = defineProps({
    status: {
        type: String,
    },
});

const form = useForm({
    code:null,
});

const currentStep = ref(2)
provide('currentStep',currentStep)

const submit = () => {
    form.post(route('verification.verify'),{
        preserveScroll: true,
    });
};

const submitResetVerificationCode = () => {
    form.post(route('verification.send'),{
        preserveScroll: true,
    });
}

const verificationLinkSent = computed(() => props.status === 'verification-link-sent');

</script>

<template>
    <GuestLayout>
        <Head title="Регистрация" />
        <BackMobile/>
        <section class="reg">
            <img class="reg__background" src="/img/regBack.svg" alt="">
            <img class="reg__background dark" src="/img/regBackDark.svg" alt="">
            <div class="container">
                <div class="reg__inner">
                    <Steps />
                    <div class="reg__right-page active" >
                        <p class="reg__right-title">Регистрация </p>
                        <p class="reg__right-desc">Пожалуйтса заполните все поля</p>
                        <p class="reg__right-email"> {{ $page.props.auth.user.email }}</p>
                        <div class="reg__input-wrapper">
                            <div class="reg__input-left">
                                <svg class="error" width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="6.5" cy="6.5" r="5.5" stroke="#FF5C00" stroke-width="2"></circle>
                                </svg>
                                <svg class="success" width="13" height="9" viewbox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 4L5 8L12 1" stroke="#35D863" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div class="reg__input-right">
                                <input v-model="form.code" class="reg__input" type="text" placeholder="Введите код">
                                <p v-if="form.errors.code" style="opacity: 1" class="reg__input-error">{{ form.errors.code }}</p>
                            </div>
                        </div>
                        <button @click.prevent="submit()" class="js-next reg__but button">Зарегистрироваться</button>
                        <a @click.prevent="submitResetVerificationCode()" class="reg__haveAcc" href="">Не пришел код,
                            <span>отправить повторно</span>
                        </a>
                        <div>
                            <a v-if="verificationLinkSent" class="footer__content-item" >Код успешно отправлен</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </GuestLayout>
</template>



<!--<script setup>-->
<!--import GuestLayout from '@/Layouts/GuestLayout.vue';-->
<!--import {Head, useForm} from '@inertiajs/vue3';-->
<!--import BackMobile from "@/Components/Items/Auth/BackMobile.vue";-->
<!--import {provide, ref} from "vue";-->

<!--import StepFirst from "@/Components/Items/Auth/StepFirst.vue";-->

<!--const form = useForm({-->
<!--    nickname: '',-->
<!--    email: '',-->
<!--    password: '',-->
<!--    password_confirmation: '',-->
<!--});-->

<!--const submitForm = () => {-->
<!--    form.post(route('check.form'), {-->
<!--        preserveScroll: true,-->
<!--        onSuccess: () => form.errors.length === 0 ?  nextStep() : null-->
<!--    });-->
<!--};-->

<!--const steps = ref({-->
<!--    1:'Данные',-->
<!--    2:'Подтверждение',-->
<!--    3:'Завершение',-->
<!--})-->

<!--const currentStep = ref(1)-->
<!--const isSendPromocode = ref(false)-->

<!--const isSecondStep = () => currentStep.value === +2-->
<!--const isEndStep = () => currentStep.value === +3-->

<!--const nextStep = () => {-->
<!--    currentStep.value++-->
<!--}-->

<!--// const sendVerifi = () => {-->
<!--//     axios.post(route('register.email-verification'),{ email:form.email })-->
<!--//         .then(() => isSendPromocode.value = true )-->
<!--//         .catch((error) => console.log(error)-->
<!--//    );-->
<!--// }-->

<!--const sendVerifiForm = () => {-->
<!--    form.post(route('register'), {-->
<!--        preserveScroll: true,-->
<!--        // onSuccess: () => form.errors.length === 0 ?  nextStep() : null-->
<!--    });-->
<!--}-->

<!--provide('currentStep',currentStep)-->
<!--// provide('nextStep',nextStep)-->
<!--provide('form',form)-->
<!--provide('submitForm',submitForm)-->
<!--</script>-->


<!--<template>-->
<!--    <GuestLayout>-->
<!--        <Head title="Email Verification" />-->

<!--        <div class="mb-4 text-sm text-gray-600">-->
<!--            Thanks for signing up! Before getting started, could you verify your email address by clicking on the link-->
<!--            we just emailed to you? If you didn't receive the email, we will gladly send you another.-->
<!--        </div>-->

<!--        <div class="mb-4 font-medium text-sm text-green-600" v-if="verificationLinkSent">-->
<!--            A new verification link has been sent to the email address you provided during registration.-->
<!--        </div>-->

<!--        <form @submit.prevent="submit">-->
<!--            <div class="mt-4 flex items-center justify-between">-->
<!--                <PrimaryButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">-->
<!--                    Resend Verification Email-->
<!--                </PrimaryButton>-->

<!--                <Link-->
<!--                    :href="route('logout')"-->
<!--                    method="post"-->
<!--                    as="button"-->
<!--                    class="underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"-->
<!--                    >Log Out</Link-->
<!--                >-->
<!--            </div>-->
<!--        </form>-->
<!--    </GuestLayout>-->
<!--</template>-->



